*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 80%;;
  /*   background-color: rgb(198, 152, 241); */
    padding: 34px;
    margin: auto;
     
}

.container h1, p{
    text-align: center;
    font-family: 'Krona One', sans-serif;
    color: yellow;
}

input, textarea{
    display: block;
    width: 80%;
    margin:11px auto;
    padding:7px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 6px;
    outline:none;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: white;
    background: purple;
    padding: 15px 10px;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 15px;
    cursor: pointer;
}

.bg{
    width:100%;
    position: absolute;
    z-index: -1;
}

.abc{
    text-align: center;
    font-family: 'Krona One', sans-serif;
    
}

 